<!-- <p>event-list works!</p>
<div *ngFor="let c of listDay">
    <label>{{c.customerName}}</label>
    <span (click)="edit(c.id)" class="icon"><i class="far fa-edit"></i></span>
</div> -->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Modifier </th>
            <td mat-cell *matCellDef="let element"> <span (click)="edit(element.id)" class="icon"><i class="far fa-edit"></i></span> </td>
          </ng-container> -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Supprimer </th>
          <td mat-cell *matCellDef="let element"> <span (click)="delete(element.id)" class="icon" style="color: red;"><i class="far fa-trash-alt"></i></span></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
   </div> 
   <div id="divButton">
     <button class="btn" (click)="openAdd()">Ajouter</button>
   </div>