@import '../../../variables.scss';
table {
    width: 100%;
  }
  .btn{
    margin: 10vh;
    color: white;
    background-color: $stepup1;
}
#divButton{
    display: flex;
    justify-content: center;

}