<div id="divTable">
  <table id="logDataTable" *ngIf="dataSource" datatable>
    <thead>
        <tr>
            <th data-orderable>Date</th>
            <th data-orderable="false">Message</th>
            <th data-orderable="false">Exception</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let p of dataSource">
            <td>{{p.timeStamp}}</td>
            <td>{{p.message}}</td>
            <td>{{p.exception}}</td>
        </tr>
    </tbody>
  </table>

</div>


<!-- 
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="timeStamp">
        <th mat-header-cell *matHeaderCellDef > Date </th>
        <td mat-cell *matCellDef="let element"> {{element.timeStamp}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <ng-container matColumnDef="exception">
        <th mat-header-cell *matHeaderCellDef> Exception </th>
        <td mat-cell *matCellDef="let element"> {{element.exception}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

 </div> 
   -->