table {
    width: 100%;
  }

  .mat-column-timeStamp{
    width: 120px !important;
    // border:1px solid red;
  }

  .mat-column-message{
    width: 180px !important;
    padding-right: 10px;
    // border:1px solid red;
  }
