<table id="MyPlantTable" *ngIf="dataSource" datatable>
  <thead>
      <tr>
          <th data-orderable>Date</th>
          <th data-orderable="false">Id</th>
          <th>Nom</th>
          <th data-orderable="false">Nombre d'équipe</th>
          <th data-orderable="false">Modifier</th>
          <th data-orderable="false">Supprimer</th>
      </tr>
  </thead>
  <tbody >
      <tr *ngFor="let p of dataSource">
          <td>{{p.date}}</td>
          <td>{{p.id}}</td>
          <td>{{p.customerName}}</td>
          <td>{{p.listTeams.length}}</td>
          <td><span *ngIf="!this.isDisabled(p.date)" (click)="edit(p)" class="icon"><i class="far fa-edit"></i></span></td>
          <td><span (click)="openAlertDialog(p.id)" class="icon" style="color: red;"><i class="far fa-trash-alt"></i></span></td>
      </tr>
  </tbody>
</table>


<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
        </ng-container>
      

        <ng-container matColumnDef="countTeams">
          <th mat-header-cell *matHeaderCellDef> Nombre d'équipe</th>
          <td mat-cell *matCellDef="let element"> {{element.listTeams.length}} </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Modifier </th>
            <td mat-cell *matCellDef="let element"> <span *ngIf="!this.isDisabled(element.date)" (click)="edit(element)" class="icon"><i class="far fa-edit"></i></span> </td>
          </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Supprimer </th>
          <td mat-cell *matCellDef="let element"> <span (click)="openAlertDialog(element.id)" class="icon"><i class="far fa-trash-alt"></i></span> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

   </div>  -->
   <div id="divButton">
     <button routerLink="/event-add" class="btn">AJOUTER</button>
   </div>