@import '../../../variables.scss';
table {
    width: 100%;
  }
  .btn{
    margin: 10vh;
    color: white;
    background-color: $stepup1;
}
#divButton{
  display: flex;
  justify-content: center;
}
th{
  color:$stepup1;
  text-align: center;
}
td{
  text-align: center;
}
