<div>
    <div>
      <div style="display: block; height:40vh; width:80vw">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [chartType]="barChartType">
        </canvas>
      </div>
      <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
    </div>
  </div>