@import '../../../variables.scss';
:host {
    #map {
        height: 600px;
        width: 100%
    }
    #map-container {
        position: relative;
    }
    #focus {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        color: gray;
        border-radius: 3px;
        height: 30px;
        width: 30px;
        z-index: 400;
        &:hover {
            color: darkgray;
            border-color: darkgray;
        }
        
    }
    .ImageContainer {
        border: 3px solid gray;
        border-radius: 3px;
        padding: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            border-color: $stepup1;
        }
        >img {
            transition: all 0.3s ease;
            width: 100%;
            height: auto;
        }
    }

    .AudioContainer {
        border: 3px solid gray;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
            border-color: $stepup1;
        }
        width: 25%;
    }
}

textarea{
    width: 100%;
}

.dates {
    display: flex;
    padding: 0px;
}

input {
    width: 100%;
}

// Tableau
ul{
    padding: 0;
    list-style: none;
}
a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.nav-tabs{
    border-bottom: 0px none;
}
.nav-tabs > li > a{
    border: 1px solid #e4e4e4;
    background: #555;
    color:white;
    border-bottom: 0px none;
    margin-right: 4px;
    padding: 6px 10px 5px;
    text-transform: capitalize;
    font-size: 14px;
}
.nav-tabs > li > a:hover{
    border-color: #e4e4e4;
    background: #ccc;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    color:#d7d7d7;
    border-color: #e4e4e4 #e4e4e4 transparent;
}

.nav-tabs > li > a.active {
    background-color: #ccc;
    color: black;

}
.tab-content > .tab-pane{
    border: 1px solid #d7d7d7;
    background-color:$stepup1;
    padding: 20px;
    border-radius:0 5px 5px ;
    color:white;
    line-height: 22px;
}

.btn{
    color: white;
    background-color: $stepup1;

}
:focus {
    outline: none;
    }

.nav-link.active{
    background-color: $stepup1;
    color: white;
}
#day > label{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.btn{
    margin: 10vh;
    color: white;
    background-color: $stepup1;
    margin-bottom: 3vh;
}
.b{
    border: 1px solid white;
}

#divButton{
  display: flex;
  justify-content: center;
}


@import '../../../variables.scss';
table {
    width: 100%;
    color: white;
  }
.mat-header-row{
    color:white;
}