<form [formGroup]="fg" (ngSubmit)="submit()">
    <div class="mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <button class="nav-link active" data-toggle="tab" href="#day">Evenement</button>
            </li>
            <li class="nav-item">
                <button [disabled]="!fg.value.id" class="nav-link" data-toggle="tab" href="#team">Equipes</button>
            </li>
            <li class="nav-item">
                <button [disabled]="!fg.value.id" class="nav-link" data-toggle="tab" href="#epreuve">Epreuves</button>
            </li>
        </ul>
        <div class="tab-content form-group">
            <div id="day" class=" tab-pane active">
                <label class="label-control">Nom : </label>
                <input [readOnly]="this.fg.get('id').value" type="text" class="form-control" formControlName="customerName">
                <label class="label-control">Date :</label>
                <input type="date" class="form-control" formControlName="date">
                <span *ngIf="fg.get('date').errors?.too_short_date" class="text-danger">La date est trop petite</span>              
                <span *ngIf="fg.get('date').errors?.exist_date" class="text-danger">La date existe déjà</span>              
                <!-- <span *ngIf="fg.get('date').errors?.select_date" class="text-danger">Veuillez sélectionner une date</span>               -->
            </div>
            <div id="team" class="tab-pane">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Weight Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>Nom</th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="color">
                          <th mat-header-cell *matHeaderCellDef>Couleur</th>
                          <td mat-cell *matCellDef="let element" [style.color]="element.color"> <i class="fas fa-palette"></i> </td>
                        </ng-container>
                
                        <ng-container matColumnDef="delete">
                          <th mat-header-cell *matHeaderCellDef> Supprimer </th>
                          <td mat-cell *matCellDef="let element"> <span (click)="openAlertDialog(element.id)" class="icon" style="color: red;"><i class="far fa-trash-alt"></i></span> </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                   </div> 
                <div id="divButton"> 
                    <button class="btn b" type='button' [disabled]="this.isDisabled(model)" (click)="openModalAdd()">Ajouter</button>                      
                </div>
            </div>
            <div id="epreuve" class="tab-pane">
                <div *ngFor="let c of listActivity">
                    <input [checked]="checked(c.id)" type="checkbox" [value]="c.name" (change)="onCheckboxChange($event, c.id)">
                    <label>{{c.name}}</label>
                </div>                  
            </div>
        </div>
    </div>    
    <div>
        <div id="divButton">
            <button [disabled]="this.isDisabled(model) || this.fg.invalid" class="btn">Sauvegarder</button>            
        </div>
    </div>
</form>