<div id="divTitle">
    <label id="title">Ajouter une nouvelle equipe</label>
</div>
<div id="divForm">
    <form [formGroup]="fg" (ngSubmit)="submit()">
        <div id="input">
            <input formControlName="name" placeholder="Nom de l'équipe">
            <span *ngIf="fg.get('name').errors?.exist_team" class="text-danger">Cette équipe existe déjà</span>
            <input formControlName="color" type="color">       
            <button id="button" [mat-dialog-close]="true" [disabled]="!fg.valid" type="submit"> <i class="fas fa-plus"></i></button>
        </div>
    </form>
</div>
