@import '../../../../variables.scss';
// <div id="all">
//     <div id="title">
//         <p>Etes vous sûr de vouloir supprimer cet élément?</p>
//     </div>
//     <div id="btnDiv">   
//         <i class="button" (click)="closeDialog(false)" class="fas fa-ban"></i>
//         <i class="button" (click)="closeDialog(true)" class="far fa-check-circle"></i>
//     </div>
// </div>

#all{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title{ 
    font-size: 1.2em;
    font-weight: bold;
    color: $stepup1;
}

#btnDiv{
    width: 50%;
    display: flex;
    justify-content: space-around;
    
    font-size: 2em;
}
.button{
    font-size: 1.8em;
}