<div id="all">
    <div id="title">
        <p>Etes vous sûr de vouloir supprimer cet élément?</p>
    </div>
    <div id="btnDiv">   
        <i class="button" style="color: red;" (click)="closeDialog(false)" class="fas fa-ban"></i>
        <i class="button" style="color: green;" (click)="closeDialog(true)" class="far fa-check-circle"></i>
    </div>
</div>
