@import '../../../../variables.scss';
#button{
    font-size: 1.5em;
    color: white;
    background-color: $stepup1;
}
#divTitle{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#title{
    color: $stepup1;
    font-weight: bold;
}

#input{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}