<div id="divTitle">
    <label id="title">Ajouter une nouvelle activité</label>
</div>
<div id="divForm">
    <form [formGroup]="fg" (ngSubmit)="submit()">
        <div id="input">
            <input formControlName="name" placeholder="Nom de l'activité">
            <span *ngIf="fg.get('name').errors?.exist_activity" class="text-danger">l'activité existe déjà</span>
            <input formControlName="description" type="textarea" placeholder="Description de l'activité">
            <button id="button" [mat-dialog-close]="true" [disabled]="!fg.valid" type="submit"> <i class="fas fa-plus"></i></button>
        </div>
    </form>
</div>
