<header>
  <div>
      <i (click)="toggle()" class="button fa fa-bars"></i>
  </div>
  <div><h1>Build your team</h1></div>
  <div>
      <i (click)="logout()" class="button fas fa-power-off"></i>
  </div>
</header>
<main>
  <nav [ngClass]="{ collapsed: collapsed }">
      <ul>
          <li routerLinkActive="active">
              <a routerLink="/dashboard" (click)="collapse()">
                  <span class="icon"><i class="fas fa-chart-line"></i></span>
                  <span class="title">Dashboard</span>
              </a>
          </li>
          <li routerLinkActive="active">
              <a>
                  <span class="icon"><i class="far fa-calendar-alt"></i></span>
                  <span class="title">Evenements <i class="fa fa-caret-down"></i></span>
              </a>
              <ul class="submenu">
                  <li routerLinkActive="active"><a routerLink="/event-list" (click)="collapse()"><span><i class="fas fa-list"></i> Liste</span></a></li>
                  <li routerLinkActive="active"><a routerLink="/event-add" (click)="collapse()"><span><i class="far fa-calendar-plus"></i> Ajouter</span></a></li>
              </ul>
          </li>
          <li routerLinkActive="active">
              <a routerLink="/log" (click)="collapse()">
                  <span class="icon"><i class="fas fa-warehouse"></i></span>
                  <span class="title">Log</span>
              </a>
          </li>
          <!-- <li routerLinkActive="active">
            <a routerLink="/add" (click)="collapse()">
                <span class="icon"><i class="fa fa-calendar"></i></span>
                <span class="title">add</span>
            </a>
        </li> -->
          <li routerLinkActive="active">
              <a routerLink="activity" (click)="collapse()">
                  <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
                  <span class="title">Activités</span>
              </a>
          </li>
          <!-- <li routerLinkActive="active">
              <a (click)="collapse()">
                  <span class="icon"><i class="fa fa-map"></i></span>
                  <span class="title">Sentiers</span>
              </a>
              <ul class="submenu">
                  <li routerLinkActive="active"><a routerLink="/admin/path/index" (click)="collapse()"><span>Index</span></a></li>
                  <li routerLinkActive="active"><a routerLink="/admin/path/add" (click)="collapse()"><span>Ajouter</span></a></li>
              </ul>
          </li> -->
      </ul>
  </nav>
  <section>
    <router-outlet></router-outlet>
    <app-loader *ngIf="loaderService.isLoading | async"></app-loader>
  </section>
</main>
<footer>&copy; Step-up </footer>