@import '../variables.scss';
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    header {
        color: $light1;
        height: 75px;
        padding: 0 20px;
        box-shadow: 0 1px 2px 0 $dark1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $stepup1;
        div {
            flex: 1;
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }
        }
    }
    main {
        flex: 1;
        display: flex;
        background-color: $light2;
        nav {
            background-color: $stepup1;;
            // border: 1px solid $dark1;
            &.collapsed {
                >ul {
                    width: 50px;
                    >li {
                        width: 50px;
                        &:hover {
                            width: 300px;
                        }
                    }
                }
            }
            >ul {
                transition: all ease-in 0.3s;
                list-style: none;
                width: 300px;
                margin: 0;
                padding: 0;
                li {
                    background-color: $stepup1;
                    position: relative;
                    transition: all ease-in 0.3s;
                    width: 300px;
                    z-index: 800;
                    overflow: hidden;
                    &:hover>.submenu>li {
                        height: 50px;
                    }
                    a {
                        transition: all ease-in 0.3s;
                        display: flex;
                        align-items: center;
                        height: 50px;
                        text-decoration: none;
                        color: $light2;
                        position: relative;
                        width: 100%;
                        span.icon {
                            width: 50px;
                            text-align: center;
                        }
                        span.title {
                            left: 50px;
                            padding: 0 10px;
                            position: absolute;
                            width: 250px;
                        }
                    }
                    .submenu {
                        padding-left: 0;
                        >li {
                            transition-delay: 0.3s;
                            height: 0;
                            padding-left: 50px;
                            >a {
                                padding: 0 10px;
                            }
                        }
                    }
                    &.active {
                        position: relative;
                        >a{
                            background-color: $light1;
                            color: $dark1;
                            &::after {
                                content: "";
                                position: absolute;
                                height: 100%;
                                width: 5px;
                                right: 0;
                                display: block;
                                background-color: white;
                            }
                        }
                    }
                    &:hover {
                        >a{
                            background-color: $light2;
                            color: $dark1;
                            border:$dark1 3px solid;
                        }
                    }
                }
            }
        }
        section {
            flex: 1;
            margin: 10px;
        }
    }
    footer {
        color: $light1;
        background-color: $stepup1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-weight: bolder;
        box-shadow: 0 -1px 2px 0 $dark1;
    }
}
@media screen and (max-width: 768px) {
    :host {
        main {
            position: relative;
            nav {
                transition: all ease-in 0.3s;
                width: 100%;
                height: 100%;
                margin-left: 0;
                position: absolute;
                z-index: 100;
                >ul {
                    width: 100%;
                    li {
                        width: 100%;
                        a {
                            width: 100%;
                        }
                    }
                }
                &.collapsed {
                    margin-left: -100%;
                }
            }
        }
    }
}





